* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 0.8;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

nav {
  padding: 32px 0;
  background-color: #1C1E53;
}
nav .nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
nav .nav__wrapper .nav__item ul {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
nav .nav__wrapper .nav__item ul li a {
  color: #BBBBCB;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  transition: all linear 0.3s;
}
nav .nav__wrapper .nav__item ul li a:hover {
  color: white;
}
nav .nav__wrapper .nav__btn .nav__btn-a {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 16px 48px;
  color: #fff;
  background-color: #1C1E53;
  outline: 2px solid #fff;
  display: inline-block;
  border-radius: 41px;
  text-transform: capitalize;
  transition: all linear 0.3s;
  margin-top: 0;
  margin-bottom: 0;
}
nav .nav__wrapper .nav__btn .nav__btn-a:hover {
  background-color: #FCD980;
  outline: none;
  color: #282938;
}

#banner {
  padding: 128px 0;
  background-color: #1C1E53;
}
#banner .banner__wrapper {
  display: flex;
  -moz-column-gap: 82px;
       column-gap: 82px;
}
#banner .banner__wrapper .banner__left {
  width: 50%;
}
#banner .banner__wrapper .banner__left h1 {
  width: 582px;
  font-size: 54px;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 74px;
}
#banner .banner__wrapper .banner__left p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  width: 562px;
  line-height: 28px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 24px;
  margin-bottom: 48px;
}
#banner .banner__wrapper .banner__left .banner__btn {
  -moz-column-gap: 40px;
       column-gap: 40px;
  display: flex;
  align-items: center;
}
#banner .banner__wrapper .banner__left .banner__btn h6 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 16px 48px;
  color: #fff;
  background-color: transparent;
  outline: 2px solid #fff;
  display: inline-block;
  border-radius: 41px;
  text-transform: capitalize;
  transition: all linear 0.3s;
  margin-top: 0;
  margin-bottom: 0;
}
#banner .banner__wrapper .banner__left .banner__btn h6:hover {
  background-color: #FCD980;
  outline: none;
  color: #282938;
}
#banner .banner__wrapper .banner__left .banner__btn h4 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 28px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 0;
  margin-bottom: 0;
}
#banner .banner__wrapper .banner__right {
  width: 50%;
}
#banner .banner__wrapper .banner__right picture img {
  width: 638px;
  height: 361px;
  -o-object-fit: cover;
     object-fit: cover;
}

#work {
  padding: 128px 0;
  background-color: #F4F6FC;
}
#work .work__wrapper {
  display: flex;
  -moz-column-gap: 142px;
       column-gap: 142px;
}
#work .work__wrapper .work__left h2 {
  font-size: 48px;
  color: #282938;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 64px;
  margin-bottom: 16px;
}
#work .work__wrapper .work__left p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #282938;
  width: 405px;
  line-height: 28px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 0;
  margin-bottom: 16px;
}
#work .work__wrapper .work__left a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2405F2;
  right: 5px;
}
#work .work__wrapper .work__left a i {
  padding-left: 10px;
}
#work .work__wrapper .work__right {
  display: flex;
  width: 656px;
  flex-wrap: wrap;
  row-gap: 48px;
}
#work .work__wrapper .work__right .work__box {
  width: 328px;
}
#work .work__wrapper .work__right .work__box a {
  padding: 9px 15px;
  background-color: #5239FA;
  color: #fff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
#work .work__wrapper .work__right .work__box a::after {
  position: absolute;
  content: "";
  height: 64%;
  width: 7px;
  background-color: #FCD980;
  top: 13px;
  left: 0;
  border-radius: 8px;
}
#work .work__wrapper .work__right .work__box a::before {
  position: absolute;
  content: "";
  height: 7px;
  width: 55%;
  background-color: #FCD980;
  bottom: 0;
  left: 0;
  border-radius: 8px;
}
#work .work__wrapper .work__right .work__box h3 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #282938;
  margin-top: 35px;
  margin-bottom: 20px;
}
#work .work__wrapper .work__right .work__box p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #282938;
  width: 303px;
  line-height: 28px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 0;
}

#project {
  padding: 128px 0;
}
#project .project__heading {
  display: flex;
  justify-content: space-between;
}
#project .project__heading h3 {
  font-size: 48px;
  color: #282938;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 64px;
  width: 467px;
  margin-top: 0;
  margin-bottom: 64px;
}
#project .project__heading a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2405F2;
}
#project .project__heading a i {
  padding-left: 10px;
}
#project .project__wrapper {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
#project .project__wrapper .project__left {
  width: 843px;
  height: 600px;
  position: relative;
  overflow: hidden;
}
#project .project__wrapper .project__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#project .project__wrapper .project__left .overlay {
  width: 360px;
  height: 100%;
  background-color: rgb(28, 30, 83);
  opacity: 0.7;
  top: 0;
  left: -396px;
  position: absolute;
  z-index: 555;
  text-align: center;
  transition: all linear 0.3s;
  padding: 312px 35px 48px 35px;
}
#project .project__wrapper .project__left .overlay h3 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 600;
  width: 313px;
  line-height: 140%;
}
#project .project__wrapper .project__left .overlay p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  width: 293px;
  line-height: 28px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 16px;
  margin-bottom: 40px;
}
#project .project__wrapper .project__left .overlay a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FCD980;
  right: 5px;
}
#project .project__wrapper .project__left .overlay a i {
  padding-left: 10px;
}
#project .project__wrapper .project__left:hover .overlay {
  left: 0;
}
#project .project__wrapper .project__right {
  width: 405px;
  overflow: hidden;
}
#project .project__wrapper .project__right .project__right-top {
  width: 405px;
  height: 285px;
  margin-bottom: 32px;
  position: relative;
  overflow: hidden;
}
#project .project__wrapper .project__right .project__right-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#project .project__wrapper .project__right .project__right-top .overlay__right {
  width: 100%;
  height: 100%;
  background-color: rgb(28, 30, 83);
  opacity: 0.7;
  top: 0;
  bottom: -285px;
  position: absolute;
  z-index: 555;
  text-align: center;
  transition: all linear 0.3s;
  padding: 129px 35px 48px 35px;
  opacity: 0;
}
#project .project__wrapper .project__right .project__right-top .overlay__right h3 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 600;
  width: 313px;
  line-height: 38px;
  text-align: center;
}
#project .project__wrapper .project__right .project__right-top .overlay__right a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FCD980;
  right: 5px;
}
#project .project__wrapper .project__right .project__right-top .overlay__right a i {
  padding-left: 10px;
}
#project .project__wrapper .project__right .project__right-top:hover .overlay__right {
  opacity: 0.7;
}

#service {
  padding: 128px 0;
  background-color: #F4F6FC;
}
#service .service__content {
  text-align: center;
}
#service .service__content h6 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #282938;
  font-weight: 400;
  text-transform: capitalize;
}
#service .service__content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  line-height: 64px;
  width: 630px;
  margin: 0 auto;
  margin-top: 12px;
}
#service .service__wrapper {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 24px;
  flex-wrap: wrap;
}
#service .service__wrapper .service__box {
  width: 405px;
  height: 316px;
  background-color: #fff;
  padding: 53px 33px 48px 48px;
  margin-top: 48px;
  transition: all linear 0.3s;
}
#service .service__wrapper .service__box h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 16px;
  color: #282938;
  opacity: 0.7;
  line-height: 36px;
}
#service .service__wrapper .service__box p {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #282938;
  width: 324px;
  line-height: 28px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 0;
  margin-bottom: 0;
}
#service .service__wrapper .service__box:hover {
  background-color: rgba(40, 41, 56, 0.09);
}

#client {
  border: 1px solid #1C1E53;
  padding: 130px 0;
  background-color: rgba(244, 246, 252, 0.5);
}
#client .client__wrapper {
  display: flex;
  -moz-column-gap: 110px;
       column-gap: 110px;
}
#client .client__wrapper .client__left {
  width: 327px;
}
#client .client__wrapper .client__left h3 {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  color: #282938;
}
#client .client__wrapper .client__left P {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(40, 41, 56, 0.709);
  margin-top: 16px;
  line-height: 28px;
}
#client .client__wrapper .client__right h4 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: #282938;
  line-height: 48px;
  font-weight: 500;
  width: 843px;
  font-style: normal;
}
#client .client__wrapper .client__right .client__right-say {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
  margin-top: 51px;
}
#client .client__wrapper .client__right .client__right-say .image {
  width: 52px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
}
#client .client__wrapper .client__right .client__right-say .content h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #282938;
  margin-bottom: 5px;
}
#client .client__wrapper .client__right .client__right-say .content h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #282938;
  margin-bottom: 5px;
}

#question {
  padding: 128px 0;
  background-color: #ECECF1;
}
#question .question__wrapper {
  display: flex;
}
#question .question__wrapper .question__left {
  width: 328px;
  padding-top: 35px;
}
#question .question__wrapper .question__left h3 {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  color: #282938;
}
#question .question__wrapper .question__left h6 {
  color: #2405F2;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2405F2;
  right: 5px;
  margin-top: 16px;
}
#question .question__wrapper .question__right-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 846px;
}
#question .question__wrapper .question__right-wrapper .question__right {
  width: 100%;
  display: flex;
}
#question .question__wrapper .question__right-wrapper .question__right .question__right-number {
  width: 10%;
  padding-top: 35px;
  margin-bottom: 48px;
}
#question .question__wrapper .question__right-wrapper .question__right .question__right-number h3 {
  color: #2405F2;
  text-align: center;
  font-family: Popp "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
#question .question__wrapper .question__right-wrapper .question__right .question__right-content {
  width: 80%;
  padding-top: 28px;
  position: relative;
}
#question .question__wrapper .question__right-wrapper .question__right .question__right-content::after {
  width: 114%;
  height: 2px;
  background-color: #c1c1c5;
  position: absolute;
  content: "";
  left: -65px;
  bottom: 0;
}
#question .question__wrapper .question__right-wrapper .question__right .question__right-content:last-child {
  content: none;
}
#question .question__wrapper .question__right-wrapper .question__right .question__right-content h5 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
#question .question__wrapper .question__right-wrapper .question__right .question__right-content p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #282938;
  width: 624px;
  line-height: 28px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 16px;
  margin-bottom: 48px;
}
#question .question__wrapper .question__right-wrapper .question__right .question__right-icon {
  padding-top: 35px;
}
#question .question__wrapper .question__right-wrapper .question__right .question__right-icon i {
  font-size: 30px;
  transition: all linear 0.3s;
}
#question .question__wrapper .question__right-wrapper .question__right .question__right-icon i:hover {
  color: red;
}

#contact {
  padding: 128px 0;
}
#contact .contact__wrapper {
  display: flex;
}
#contact .contact__wrapper .contact__image {
  width: 656px;
  height: 691px;
  position: relative;
}
#contact .contact__wrapper .contact__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#contact .contact__wrapper .contact__image .overlay__contact {
  padding: 96px 96px 261px 96px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(28, 30, 83, 0.5);
  opacity: 0;
  transition: all linear 0.3s;
  height: 100%;
  width: 100%;
}
#contact .contact__wrapper .contact__image .overlay__contact h4 {
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  color: white;
  width: 464px;
  z-index: 55;
}
#contact .contact__wrapper .contact__image .overlay__contact p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  width: 464px;
  line-height: 28px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 22px;
  margin-bottom: 0;
}
#contact .contact__wrapper .contact__image:hover .overlay__contact {
  opacity: 0.7;
}
#contact .contact__wrapper .contact__input {
  height: 691px;
  width: 624px;
  padding: 96px 96px 48px 96px;
  background-color: #1C1E53;
}
#contact .contact__wrapper .contact__input h5 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: #fff;
  font-weight: 500;
}
#contact .contact__wrapper .contact__input h6 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 48px;
}
#contact .contact__wrapper .contact__input input {
  padding: 16px 32px;
  background-color: transparent;
  border: 2px solid #d3cfcf;
  border-radius: 8px;
  width: 432px;
  margin-bottom: 48px;
  color: #fff;
}
#contact .contact__wrapper .contact__input .contact__btn {
  font: size 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 25px 100px;
  color: #fff;
  outline: 2px solid #fff;
  border-radius: 41px;
  text-transform: capitalize;
  transition: all linear 0.3s;
  margin-bottom: 20px;
}
#contact .contact__wrapper .contact__input .contact__btn:hover {
  background-color: #FCD980;
  outline: none;
  color: #282938;
}
#contact .contact__wrapper .contact__input h3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  right: 5px;
}
#contact .contact__wrapper .contact__input h3 i {
  padding-left: 10px;
}

#blog {
  padding-bottom: 128px;
}
#blog .blog__heading {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  text-transform: capitalize;
  margin-bottom: 64px;
}
#blog .blog__wrapper {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
#blog .blog__wrapper .blog__box {
  width: 405px;
}
#blog .blog__wrapper .blog__box img {
  width: 100%;
  height: 228px;
  -o-object-fit: cover;
     object-fit: cover;
}
#blog .blog__wrapper .blog__box h6 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
  margin-top: 40px;
}
#blog .blog__wrapper .blog__box h5 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 16px;
  margin-top: 16px;
}
#blog .blog__wrapper .blog__box p {
  font-family: "Poppins", sans-serif;
  color: #282938;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  margin-bottom: 16px;
}
#blog .blog__wrapper .blog__box a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  right: 5px;
}
#blog .blog__wrapper .blog__box a i {
  padding-left: 10px;
}/*# sourceMappingURL=style.css.map */