$primary-font: 'Poppins', sans-serif;
$heading-size:48px;
$sub-hading_size:38px;
$sub-heading__title: 32px;
$peragraph-size: 16px;
$btn-color:#FCD980;
$background_color:#1C1E53;
$font-color:#282938;
$pera-color:#282938;
$background-liner :linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
