#client{
    border: 1px solid $background_color;
    padding: 130px 0;
    background-color: rgba(244, 246, 252, 0.5);
    .client__wrapper{
        display: flex;
        column-gap: 110px;
        .client__left{
            width: 327px;
            h3{
                font-family: $primary-font;
                font-size: 38px;
                font-weight: 600;
                line-height: 56px;
                color: $font-color;
            }
            P{
                font-family: $primary-font;
                font-size: 16px;
                color: rgba(40, 41, 56, 0.709);
                margin-top: 16px;
                line-height: 28px;
            }
        }
        .client__right{
            h4{
                font-family: $primary-font;
                font-size: 32px;
                color: #282938;
                line-height: 48px;
                font-weight: 500;
                width: 843px;
                font-style: normal;
            }
            .client__right-say{
                display: flex;
                column-gap: 15px;
                align-items: center;
                margin-top: 51px;
                .image{
                    width: 52px;
                    height: 52px;
                    object-fit: cover;
                }
                .content{
                    h5{
                        font-family: $primary-font;
                        font-weight: 500;
                        font-size: 18px;
                        color: #282938;
                        margin-bottom: 5px;
                    }
                    h6{
                        font-family: $primary-font;
                        font-weight: 500;
                        font-size: 12px;
                        color: #282938;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}